body {
    background-image: url("./images/bg.webp");
    background-attachment: fixed;
    background-size: cover;

}

.page {
    max-width: 960px;
    margin: 0;

}

.card-box {
    display: flex;
    gap: 1em;
    overflow-x: auto;

}


.card {
    max-width: 200px;
    background-color: white;
    margin: 0;
    margin-top: calc(95px / 2);

    display: block;
    box-shadow: 10px grey;
    min-width: 180px;
}

.card__img {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-top: calc(-95px / 2);

}

.card__img--white {
    border: 3px solid white;
    background-color: white;
}

.img {
    width: 100%;
}



.card__text {
    font-family: sans-serif;
    color: black;
    text-align: left;
    font-weight: light;
    margin: 0px;
    padding: 1em;

}

.card__name {
    font-size: 1.5em;
    margin: 0em;
    padding: 0em;
    border-bottom: solid black 1px;
    padding-bottom: 0.5em;
}

.ikona--red {
    color: red;
}