body {
    background-image: url("../2023-p2a-web-contact-card-component-MiskovskaM/images/bg.webp");
    background-attachment: fixed;
    background-size: cover;

}

.page {
    max-width: 960px;
    margin: 0 auto;


}


.card {
    height: 200px;
    width: 200px;
    background-color: white;
    margin: 3rem;
    margin-top: 8rem;

    display: inline-block;
    box-shadow: 10px grey;

}

.card__img {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    overflow: hidden;
    margin:auto;
    margin-top:-6em;
    
}

.card__img--white {
    border:3px solid white;
    
    
    
    background-color: white; 
}

.img{
    width:100%;
}



.card__text {
    font-family: sans-serif;
    color: black;
    text-align: left;
    font-weight: light;
    margin-left: -7rem;
    margin-top: -1,1em;
}



h1 {
    font-size: medium;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-bottom: solid black 1px;
}

.ikona--red {
    color: red;
}